body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#container {
  height: 100%;
  width: 100%;
}

#upper-grill-svg {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
  z-index: 2; 
}

#upper-grill-shape {
  fill: #DBED64;
}


#left-mirror-shape {
  fill: #DBED64;
}

.path-filled {
  fill: #DBED64;
}

.path-unfilled {
  fill: transparent;
}

#background-image {
  position: absolute;
  top: 0;
  left: 0;
}

.colors {
  display: flex;
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 3;
}

.color {
  height: 36px;
  width: 36px;
  margin-left: 0.5em;
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #aaa;
  cursor: pointer;
}

area{
  cursor: pointer; 
}